<ul>
  <% service.user_learning_units.each do |user_learning_unit| %>
    <li>
      <%= user_learning_unit[:learning_unit].name %>
      <%=
        link_to "See Learning Unit",
        learning_unit_path(user_learning_unit[:learning_unit], curriculum_id: curriculum.id),
        class: 'button'
      %>
      <%=
        render partial: 'completed_learning_unit',
          locals:
          {
            learning_unit: user_learning_unit[:learning_unit],
            completed: user_learning_unit[:completed_by_user]
          } 
      %>
    </li>
  <% end %>
</ul>
