<% if resources.any? %>
  <table>
    <% resources.each do |resource| %>
      <tr>
        <td> <b> <%= resource[:name] %> </b> </td>
        <td> <b>
          <%= resource[:evaluation].nil? ? 'N/A' : resource[:evaluation] %>
        </b> </td>
        <td> <%= link_to "See resource",
        resource_path(resource[:id]),
        class: 'button' %> </td>
        <br><br>
      </tr>
    <% end %>
  </table>
<% else %>
  <h3>There are no resources yet</h3>
<% end %>
