<h1><%= @curriculum.name %></h1>

<ul>
  <% @curriculum.learning_units.each do |learning_unit| %>
    <li>
      <p><%= learning_unit.name %></p>
      <%= link_to "Ver curso", learning_unit_path(learning_unit), class: 'button' %>
    </li>
  <% end %>
</ul>
