<h1><%= @curriculum.name %></h1>
<ul>
  <% @learning_units.each do |learning_unit| %>
    <li>
      <p><%learning_unit.name%></p>
      <form action="/learning_units/<%= learning_unit.id %>">
        <input type="submit" value="Ver curso"/>
      </form>
    </li>
  <% end %>
</ul>
