<h1><%= @learning_unit.name %></h1>

<% if @learning_unit.resources.any? %>
  <ul>
    <% @learning_unit.resources.each do |resource| %>
      <li>
        <p><%= resource.name %></p>
        <%= link_to "See resource", resource_path(resource), class: 'button' %>
      </li>
    <% end %>
  </ul>
<% else %>
  <h3>There are no resources yet</h3>
<% end %>
