<h1><%= @learning_unit.name %></h1>

<%= render partial: 'curriculum',
  locals: { curriculum: @curriculum, learning_unit: @learning_unit } %>

<%= render partial: 'resources_of_learning_unit',
  locals: { resources: @service.resources_sorted_by_evaluation } %>

  <h2>Add a resource:</h2>

  <%= render partial: 'new_resource',
    locals: { learning_unit: @learning_unit } %>